@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 20px #21C4E3;
            box-shadow: 0px 0px 20px #21C4E3;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px blue;
            box-shadow: 0px 0px 20px blue;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px navy;
            box-shadow: 0px 0px 20px navy;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 20px #21C4E3;
            box-shadow: 0px 0px 20px #21C4E3;
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px blue;
            box-shadow: 0px 0px 20px blue;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px navy;
            box-shadow: 0px 0px 20px navy;
  }
}

@-webkit-keyframes text-pulse {
  0% {
    text-shadow: 0px 0px 17px blue;
  }
  50% {
    text-shadow: 0px 0px 17px navy;
  }
  100% {
    text-shadow: 0px 0px 17px blue;
  }
}

@keyframes text-pulse {
  0% {
    text-shadow: 0px 0px 17px blue;
  }
  50% {
    text-shadow: 0px 0px 17px navy;
  }
  100% {
    text-shadow: 0px 0px 17px blue;
  }
}

*::-moz-selection {
  background: navy;
  color: #21C4E3;
}

*::selection {
  background: navy;
  color: #21C4E3;
}

html, body {
  padding: 0%;
  margin: 0px;
}

@font-face {
  font-family: 'Quantum_4-Ornium-';
  src: url("Data/Files/Special Fonts/quantum_4/Quantum.otf"), url("Data/Files/Special Fonts/quantum_4/quantum_webfont.woff") format("woff"), url("Data/Files/Special Fonts/quantum_4/quantum_webfont.woff2") format("woff2"), url("Data/Files/Special Fonts/quantum_4/quantum-webfont.ttf") format("truetype"), url("Data/Files/Special Fonts/quantum_4/quantum-webfont.svg#quantumregular") format("svg");
}

@font-face {
  font-family: 'nasalization-rg';
  src: url("Data/Files/Special Fonts/nasalization/nasalization-rg.otf"), url("Data/Files/Special Fonts/nasalization/nasalisation-rg.woff") format("woff"), url("Data/Files/Special Fonts/nasalization/nasalization-rg.woff2") format("woff2"), url("Data/Files/Special Fonts/nasalization/nasalization-rg.ttf") format("truetype"), url("Data/Files/Special Fonts/nasalization/nasalization-rg.svg") format("svg");
}

body {
  background: #21C4E3;
  font-family: Arial;
  color: navy;
  font-weight: 525;
}

.header {
  background: navy;
  position: fixed;
  width: 100em;
  height: 95px;
  left: 0%;
  top: 0%;
  color: #21C4E3;
  -webkit-box-shadow: 1px 0px 10px navy;
          box-shadow: 1px 0px 10px navy;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: inline-block;
  height: 95px;
  width: 95px;
}

.header .mobil-close-nav {
  display: none;
  width: 0%;
  height: 0%;
  margin: 0%;
  padding: 0%;
}

.header__nav {
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-left: 20rem;
  padding: 0%;
  width: 33rem;
}

.header__nav ul {
  height: 45px;
}

.header__nav li {
  padding: 0%;
  margin: 0%;
  height: 45px;
}

.nav {
  width: 100px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  color: #21C4E3;
  text-decoration: none;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav:hover {
  width: 132px;
  height: 42px;
  background-color: #21C4E3;
  border-radius: 15px;
  color: navy;
  font-size: 20px;
  -webkit-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav > #Elt1-1 {
  font-size: 15px;
  height: 45px;
  padding: 0px;
}

.main {
  z-index: 1;
  display: -ms-grid;
  display: grid;
}

.phantom-container {
  height: 30rem;
  width: 100%;
  display: block;
}

.gen-title {
  color: navy;
  font-size: 8em;
  position: absolute;
  top: 10%;
  text-align: center;
  width: 99%;
  font-family: 'Quantum_4-Ornium-';
  text-shadow: 0px 0px 10px blue;
  font-weight: 400;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gen-title:hover {
  color: blue;
  text-shadow: none;
  -webkit-animation: text-pulse 1s infinite linear;
          animation: text-pulse 1s infinite linear;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subtitle {
  display: block;
  width: 100%;
  font-size: 2em;
  position: absolute;
  top: 45%;
  text-align: center;
  text-shadow: 0px 0px 10px blue;
  font-family: nasalization-rg;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subtitle:hover {
  color: blue;
  text-shadow: none;
  -webkit-animation: text-pulse 1s infinite linear;
          animation: text-pulse 1s infinite linear;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

p {
  width: default;
  margin: 1rem;
}

.mail-descript {
  background: blue;
  color: #21C4E3;
}

.footer > p {
  position: absolute;
  top: auto;
  left: 0%;
  border: none;
  width: 99.8%;
  -webkit-box-shadow: 1px 0px 10px navy;
          box-shadow: 1px 0px 10px navy;
  height: 10%;
  z-index: 10;
  background-color: navy;
  color: #21C4E3;
  padding-top: 10px;
  padding-left: 2px;
  margin: 0;
}

.footer > p::-moz-selection {
  background: #21C4E3;
  color: navy;
}

.footer > p::selection {
  background: #21C4E3;
  color: navy;
}
/*# sourceMappingURL=home.css.map */