html, body
{
    padding: 0%;
    margin: 0px;
}
@font-face {
    font-family: 'Quantum_4-Ornium-';
    src: url('Data/Files/Special\ Fonts/quantum_4/Quantum.otf'),
            url('Data/Files/Special\ Fonts/quantum_4/quantum_webfont.woff') format('woff'),
            url('Data/Files/Special\ Fonts/quantum_4/quantum_webfont.woff2') format('woff2'),
            url('Data/Files/Special\ Fonts/quantum_4/quantum-webfont.ttf') format('truetype'),
            url('Data/Files/Special\ Fonts/quantum_4/quantum-webfont.svg#quantumregular') format('svg');
}
@font-face {
    font-family: 'nasalization-rg';
    src: url('Data/Files/Special\ Fonts/nasalization/nasalization-rg.otf'),
            url('Data/Files/Special\ Fonts/nasalization/nasalisation-rg.woff') format('woff'),
            url('Data/Files/Special\ Fonts/nasalization/nasalization-rg.woff2') format('woff2'),
            url('Data/Files/Special\ Fonts/nasalization/nasalization-rg.ttf') format('truetype'),
            url('Data/Files/Special\ Fonts/nasalization/nasalization-rg.svg') format('svg');
}
$cyan: #21C4E3;
$primary: $cyan;
$secondary: navy;
$accent: blue;

body 
{
    background: $cyan;
    font-family: Arial;
    color: $secondary;
    font-weight: 525;
}
.header
{
    background: $secondary;
    position: fixed;
    width: 100em;
    height: 85px;
    left: 0%;
    top: 0%;
    color: $cyan;
    box-shadow: 1px 0px 10px $secondary;
    z-index: 10;
    display: flex;
    &__logo
    {
        display: inline-block;
        height: 85px;
        width: 85px;
    }
    .mobil-close-nav
    {
        display: none;
        width: 0%;
        height: 0%;
        margin: 0%;
        padding: 0%;
    }
    &__nav{
        list-style: none;
        justify-content: space-around;
        border: none;
        display: flex;
        margin-top: 25px;
        margin-left: 20rem;
        padding: 0%;
        width: 33rem;
        li {
            padding: 0%;
            margin: 0%;
        }
    }
}
.nav
{
    border: 2px solid $accent;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    color: $primary;
    text-decoration: none;
    background-color: $accent;
    border-radius: 10px;
    &:hover {
        width: 130px;
        height: 38px;
        background-color: $primary;
        border: 2px solid $primary;
        border-radius: 15px;
        color: $secondary;
    }
    &,.Elt1-1
    {
        font-size: 15px;
        height: 30px;
    }
}
.Elt1-1
{
    font-size: 15px;
    height: 30px;
}
.main
{
    z-index: 1;
    display: grid;
}
.phantom-container
{
    height: 350px;
    width: 100%;
    display: block;
}
.gen-title
{
    color: $secondary;
    font-size: 8em;
    position: absolute;
    top: 10%;
    text-align: center;
    width: 99%;
    font-family: 'Quantum_4-Ornium-';
    text-shadow: 0px 0px 10px $accent;
    font-weight: 400;
    &:hover
    {
        color: $accent;
        text-shadow: none;
    }
}
.subtitle
{
    display: block;
    width: 100%;
    font-size: 2em;
    position: absolute;
    top: 45%;
    text-align: center;
    text-shadow: 0px 0px 10px $accent;
    font-family: nasalization-rg;
    &:hover
    {
        color: $accent;
        text-shadow: none;
    }
}
p
{
    width: default;
    margin-top: 10rem;
}
.footer>p
{
    position: absolute;
    top: auto;
    left: 0%;
    border: none;
    width: 99.8%;
    box-shadow: 1px 0px 10px $secondary;
    height: 10%;
    z-index: 10;
    background-color: $secondary;
    color: $primary;
    padding-top: 10px;
    padding-left: 2px;
}